img {
  max-width: 100%;
}

.rc-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.rc-dialog-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.rc-dialog-content {
  position: relative;
  border: none;
  border-radius: 6px;
  background-clip: padding-box;
}

.rc-dialog-body {
  padding: 0;
}

@media (min-width: 768px) {
  .rc-dialog {
    width: 600px;
    margin: 30px auto;
  }
}

.rc-dialog-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgb(55 55 55 / 60%);
  height: 100%;
  z-index: 1050;
}

.rc-dialog-mask-hidden {
  display: none;
}
