.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  max-width: 80vw;
  width: auto !important;
}

.modalWrap {
  background: rgb(29 29 29 / 95%);
  z-index: 4396;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaContainer {
  max-height: 80vh;
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
}

.mediaContainer canvas {
  max-width: 100%;
  height: unset !important;
}

.mediaContainer div {
  left: unset !important;
}

.docContainer {
  height: 80vh;
  width: 650px;
  max-width: 90vw;
  margin: auto;
  overflow: auto;
}

.excelContainer {
  height: 80vh;
  width: 80vw;
  margin: auto;
  overflow: auto;
}

.pptContainer {
  height: 80vh;
  width: 60vw;
  max-width: 80vw;
  margin: auto;
  overflow: auto;
}
